<h1>{{title}}</h1>
<mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile class="btnClass">
            <img src="../../assets/chimg01.jpg">
            <button mat-raised-button color="primary" (click)="goToRun()">Run </button>
      </mat-grid-tile>
      <mat-grid-tile class="btnClass">
             <img src="../../assets/chimg02.jpg">
            <button mat-raised-button color="primary" (click)="goToBodyB()">Bodybuilding</button>
      </mat-grid-tile>
      <mat-grid-tile class="btnClass">
            <img src="../../assets/chimg03.jpg">
            <button  mat-raised-button color="primary" (click)="goToFood()">Food</button>
      </mat-grid-tile >
      <mat-grid-tile class="btnClass">
            <img src="../../assets/chimg04.jpg">
            <button mat-raised-button color="primary" (click)="goToPilates()"> Pilates </button>
      </mat-grid-tile>
</mat-grid-list>
