.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
}
.container .row {
    margin-right: 20px;
    margin-left: 20px;
    width: -webkit-fill-available;
}

form {
    width: 100%;
    margin: 30px;
}