<div class="dropdowns-wrapper">
  <div class="dropdown-container">
    <div class="notifications dropdown dd-trigger" (click)="showNotifications($event)">
      <mat-icon id="notifications-count" matBadge="{{awaitingNotifications}}">notifications</mat-icon>
    </div>
    <div class="dropdown-menu animated" id="notification-dropdown" *ngIf="unreadNotifications"  [hidden]="!showNotificationsDropdown">
      <div class="dropdown-header">
        <span class="triangle"></span>
        <span class="heading">Notifications</span>
        <span class="count" id="dd-notifications-count">{{unreadNotifications.length}}</span>
      </div>
      <div class="dropdown-body">
        <div class="notification new" *ngFor="let notification of unreadNotifications.slice().reverse()">
          <div class="notification-image-wrapper">
            <div class="notification-image">
              <img src="{{notification.icon}}" alt="" width="32">
            </div>
          </div>
          <div class="notification-text">
            <span class="highlight">{{notification.title}}</span>
          </div>
        </div>
        <div class="notification" *ngFor="let notification of readNotifications.slice().reverse()">
          <div class="notification-image-wrapper">
            <div class="notification-image">
              <img src="{{notification.icon}}" alt="" width="32">
            </div>
          </div>
          <div class="notification-text">
            <span class="highlight">{{notification.title}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
