<mat-card style="background-color:rgb(161, 191, 219)"><h2>{{title}}</h2></mat-card>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!--<mat-card class="painel">
            <mat-card><label for="runChallenges" class="title">Run Challenges</label></mat-card>
                <div id="runChallenges" class="row">
                    <div class="checkbox" class="col-sm-3" 
                         formArrayName="runChallenges"
                         *ngFor="let item of form.get('runChallenges').controls; let i = index">
                             <label class="checkbox-inline">
                               <mat-card class="celulas">
                                   <mat-checkbox class="example-margin" [formControlName]="i"> {{runChallenges[i]}} </mat-checkbox> 
                                </mat-card>
                             </label>
                    </div>
                 </div>
        </mat-card>
    -->
    <mat-accordion multi="true">
                <mat-expansion-panel formArrayName="runChallenges"
                *ngFor="let item of form.get('runChallenges').controls; let i = index;
                let item of form.get('runDescription').controls; let o = index;
                let item of form.get('runNivel').controls; let j = index">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                                <span>{{runNivel[j]}} </span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-checkbox class="example-margin" [formControlName]="i"> {{runChallenges[i]}} </mat-checkbox> 
                  <mat-panel-description>{{runDescription[o]}}</mat-panel-description>
                </mat-expansion-panel>
    </mat-accordion>
        <app-bnt-save class="button"></app-bnt-save>
</form>
