<mat-grid-list 
  [gutterSize]="50" cols="4" rowHeight="100px">
  <mat-grid-tile style="background-color:lightblue"
      [colspan]="3"
      [rowspan]="2"
      [routerLink]="['/profile']">
    <app-user-overview></app-user-overview>
  </mat-grid-tile>
  <mat-grid-tile style="background-color:lightgreen"
      [colspan]="1"
      [rowspan]="6"
      [routerLink]="['/ranking']">
    <app-ranking-overview></app-ranking-overview>
  </mat-grid-tile>
  <mat-grid-tile style="background-color:lightpink"
      [colspan]="1"
      [rowspan]="4"
      [routerLink]="['/challenges']">
      <app-challenges-overview></app-challenges-overview>
  </mat-grid-tile>
  <mat-grid-tile #feedTile style="background-color:white"
      [colspan]="2"
      [rowspan]="4">
    <app-feed (onReadMore)="readMore()"></app-feed>      
  </mat-grid-tile>
</mat-grid-list>