<ais-instantsearch [config]="searchConfig" class="container">
  <ais-search-box (change)="searchChanged($event)" (reset)="reset()" (blur)="onBlur($event)"></ais-search-box>

  <ais-hits *ngIf="showResults">
    <ng-template let-hits="hits">
      <div *ngFor="let hit of hits" #hitsVariable>
        <button mat-button (click)="reset()" [routerLink]="'users/' + hit.username" *ngIf="hit.displayName" class="search-result">
          <img class="result-img" onerror="this.src='https://www.w3schools.com/howto/img_avatar.png'" aria-hidden [src]="hit.photoURL" height="25">
          <ais-highlight attribute="displayName" [hit]="hit"></ais-highlight>
          <button mat-icon-button color="basic" disabled=true class="friend-button" *ngIf="getUserRelation(hit.uid) as relationType; else notFriend">
            <div *ngIf="relationType === 'friend'">
              <mat-icon aria-label="Add user as friend">person</mat-icon>
            </div>
            <div *ngIf="relationType === 'request'">
              <mat-icon aria-label="Add user as friend">person_outline</mat-icon>
            </div>
          </button>
          <ng-template #notFriend>
            <button mat-icon-button color="basic" (click)="addFriend($event, hit.uid)" class="add-friend friend-button">
              <mat-icon aria-label="Add user as friend">person_add</mat-icon>
            </button>
          </ng-template>
        </button>
      </div>
    </ng-template>
  </ais-hits>
</ais-instantsearch>
